/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #eaf4f9;
    color: #333;
}


/*For Header */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
     background-color:#fff; 
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 20px 50px;
}
.navigation{
    background-color: #005f99;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 0px;
}
.navigation ul, .logo ul{
    display: flex;
    list-style: none;
    gap: 90px;
    font-size: larger;
    font-weight: bolder;
}
.navigation ul li a,.main3 a{
 color: #eaf4f9;
 text-decoration: none;
}
.logo ul li a{
    text-decoration: none;
    color:#005f99;
}
h1 {
    font: size 1px;;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}


/* Main content */
.main-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.categories {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.category {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Dropdown button styles */
.dropdown {
    margin: 10px 0;
}

.dropdown-btn {
    background-color: #005f99;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-btn:hover {
    background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.dropdown-content p {
    margin: 5px 0;
}

button {
    background-color:#004477;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #004477;
}

/* Footer Styles */
footer{
    height: 100px;
    text-align: center;
    background-color: #333;
    position: relative;
    color: #eaf4f9;
    padding: 20px;
}
footer p{
    position: absolute;
    bottom: 0;
   left:40%;
    
}
