*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #eaf4f9;
    color: #333;
}



/*For Header */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
     background-color:#fff; 
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 20px 50px;
}
.navigation{
    background-color: #005f99;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 0px;
}
.navigation ul, .logo ul{
    display: flex;
    list-style: none;
    gap: 90px;
    font-size: larger;
    font-weight: bolder;
}
.navigation ul li a, .main3 a{
 color: #eaf4f9;
 text-decoration: none;
}
.logo ul li a{
    text-decoration: none;
    color:#005f99;
}



/* for the main div */
.maincont{
    display: flex;
    margin:20px 0;
    gap: 10px;
}
aside{
    flex: 0.75;
    background-color: #005e991d;
    height: 500px;
}
aside ul{
    padding: 40px;
}
aside li {
    padding: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}
aside a{
   text-decoration: none;
   color: #333;
}

main{
    flex: 3.25;
    background-color:#005e991d;
    padding: 50px;
}
.maincont{
    display: flex;
    height: 500px;
}



.containerForm ,.side-note{
    margin-left: 5%;
    width: 50%;
    position: relative;
}

.note{
    width: 70%;
    margin: auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.priview{
    width: 70%;
    margin:30px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;

}


label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}


input[type="date"] {
    height: 45px;
    margin: 5px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}
select {
    height: 45px;
    margin: 5px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}

/* Add hover effect for the inputs */
input[type="date"]:hover,
select:hover {
    border-color: #005f99;
}

/* Add focus effect for the inputs */
input[type="date"]:focus,
select:focus {
    border-color: #005f99;
    outline: none;
}

button{
    margin-top: 15px;
    position: absolute;
    right:20%;
    height: 30px;
    width: 50px;
}






/*for the footer*/
footer{
    height: 100px;
    text-align: center;
    background-color: #333;
    position: relative;
    color: #eaf4f9;
    padding: 20px;
}
footer p{
    position: absolute;
    bottom: 0;
   left:40%;
    
}

a:hover{
    text-decoration: underline;
}
