*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #eaf4f9;
    color: #333;
}

/*For Header */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 20px 50px;
}
.navigation{
    background-color: #005f99;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 0px;
}
.navigation ul, .logo ul{
    display: flex;
    list-style: none;
    gap: 90px;
    font-size: larger;
    font-weight: bolder;
}
.navigation ul li a,.main3 a{
 color: #eaf4f9;
 text-decoration: none;
}
.logo ul li a{
    text-decoration: none;
    color:#005f99;
}



/*for the main of the body*/
.maincont{
    width: 80%;
    margin: 30px auto;
    padding: 35px;
    border-radius: 20px;
}
.maincont  p{
    margin: 20px; 
    display: flex; /* Enables Flexbox */
    align-items: center; /* Aligns the text and image vertically */
    gap: 10px;
}
.maincont h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 35px;
}
.main2{
    display: flex; 
}


.main3{
    display: flex;
    justify-content: space-between;
}
.main3 section{
    margin: 20px;
    width: 40%;
    height: 150px;
    background-color: #005f99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}
.button{
    margin: 10px;
    height: 38px;
    width: 100px;
    cursor: pointer;
}




/*for the footer*/
footer{
    height: 100px;
    text-align: center;
    background-color: #333;
    position: relative;
    color: #eaf4f9;
    padding: 20px;
}
footer p{
    position: absolute;
    bottom: 0;
   left:40%;
    
}

@media screen and(max-width:897px) {
    header{
        display: block;
    }
    
}
