/* Existing carousel styles here */

/* Container Section Styles */
.container-section {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  position: relative;
  margin-top: -19px;



}

.container-item {
  flex: 1 1 30%;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  line-height: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

}

.container-item h2 {

 font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.container-item p {
 
 font-family: Arial, sans-serif;
 font-size: 14.5px;
 font-weight: 400px;
 line-height: 21px;

}

.container-item:hover {
  transform: translateY(-5px);
  background-color: #0056b3;
  color: white;
}

.start-application {
  background-color: #0056b3;
  color: white;
}

.register {
  background-color: #e0e0e0;
}

.check-status {
  background-color: #e0e0e0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-item {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}
.image
{

  height:18.9px;
  width:18.9px;
  margin-bottom: 8px;
 vertical-align: middle;
}

.header-container
{
  display: flex;
  font-family:serif;
  font-size: 32px;
  font-weight: 100PX;
  letter-spacing: 3.2 px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
} 