
.scrolling-container
{ 

margin: 20px;
  display:flex;
  align-items: stretch;
  width: 100%;

}
 
  .container-item2
   {
  width: 313px; 
  height: 439px ;
    }
    .images2 img

    {
      width: 281px;
      height: 187px;
    }
    .titles{
     align-items: center;
     text-align: center;
     justify-content: center;
    }