*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #eaf4f9;
    color: #333;
}



/*For Header */
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    margin: 20px 50px;
}
.navigation{
    background-color: #005f99;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 0px;
}
.navigation ul, .logo ul{
    display: flex;
    list-style: none;
    gap: 90px;
    font-size: larger;
    font-weight: bolder;
}
.navigation ul li a, .main3 a{
 color: #eaf4f9;
 text-decoration: none;
}
.logo ul li a{
    text-decoration: none;
    color:#005f99;
}



/* for the main div */
.maincont{
    display: flex;
    margin:20px 0;
    gap: 10px;
}
aside{
    flex: 0.75;
    background-color: #005e991d;
    height: auto;
}
aside ul{
    padding: 40px;
}
aside li {
    padding: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}
aside a{
   text-decoration: none;
   color: #333;
}

main{
    flex: 3.25;
    background-color:#005e991d;
    padding: 50px;
}
.maincont{
    display: flex;
    height: auto;
}



/*for the footer*/
footer{
    height: 100px;
    text-align: center;
    background-color: #333;
    position: relative;
    color: #eaf4f9;
    padding: 20px;
}
footer p{
    position: absolute;
    bottom: 0;
   left:40%;
    
}

a:hover{
    text-decoration: underline;
}