.form-container{
    position: relative;
}
label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}
h3{
    margin: 10px;
}
span{
    font-size: small;
}
form{
    gap: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
input[type="date"] ,input[type="text"],input[type="tel"],input[type="email"]{
    height: 45px;
    margin: 5px;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}
input[type="radio"]{
    margin: 5px;
   margin-top: 20px;
}
select {
    height: 45px;
    margin: 5px;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
}
button{ 
    margin-top: 10px;
   position: absolute;
   right: 40px;
    height: 30px;
    width: 50px;   
}


input:hover,
select:hover {
    border-color: #005f99;
}
input:focus,
select:focus {
    border-color: #005f99;
    outline: none;
}

